@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
    --clr-primary-white: #ffffff;
    --clr-primary-grey: #e6e6e6;
    --clr-primary-red: #b80000;
    --clr-secondary-red: #f70000;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Comfortaa', cursive;
    
    

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem
    
}

.container__main {
    background-color: var(--clr-primary-white);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
    
}



form {
    background-color: var(--clr-primary-grey);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgb(122, 122, 122);
    
    
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin: 0.5rem 0px 0.5rem 0px;
}

input {
    padding: 0.2rem;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0 0 5px 0px black;
}

input:invalid {
    border: 3px solid var(--clr-primary-red)
}

input:valid {
    border: 1px solid green;
}

.container__submit{
    background-color: var(--clr-primary-white);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

button {
    font-family: 'Comfortaa', cursive;
    background-color: var(--clr-primary-red);
    padding: 0.5rem 2rem;
    border-radius: 15px;
    border: none;
    font-size: 20pt;
    margin-bottom: 0.5rem;
    color: var(--clr-primary-white);
    
}

button:focus,
button:active {
    background-color: var(--clr-secondary-red);
    cursor: pointer;
}


footer {
    background-color: var(--clr-primary-white);
    text-align: center;

    
}

img {
    width: 10vw;
}

.sidebar {
    background-image: url(./Images/montylov-HyBXy5PHQR8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo {
    font-size: 30pt;
    color: var(--clr-primary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff3f;
    width: 100vw;
    padding: 0.7rem;
    
}

@media only screen and (min-width: 1400px) {
    
    body {
        flex-direction: row;
        
    }

    .container {
        align-items: center;
        justify-content: center;
        
    }
    
    h1 {
        margin-top: 1rem;
        font-size: 40pt;
    }
    
   
    .sidebar {
        width: 40vw;
        height: 100vh;
    }

    form {
        width: 60vw;
        

       
    }

    form > h2 {
        margin-bottom: 2rem;
        font-size: 30pt;
    }


    .form__name,
    .form__email__phone,
    .form__password {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        
        
       
       
    }

    label {
        display: inline-block;
        width: 5rem;
        text-align: right;
        padding-right: 0.5rem;
       
    }

    input {
        padding: 0.5rem;
        display: inline-block;
    }


    
   

    button:hover {
        background-color: var(--clr-secondary-red);
        cursor: pointer;
    }

    footer {
        padding: 2rem;
    }
}