@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');



*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    display: flex;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    

}

.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.container__main {
    background-color: antiquewhite;
}


.container__submit{
    background-color: aquamarine;
}


footer {
    background-color: azure;
}

img {
    width: 10vw;
}

.sidebar {
    background-image: url(./Images/montylov-HyBXy5PHQR8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 40vw;
}

.sidebar__logo {
    font-size: 60pt;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.322);
    width: 40vw;
    padding: 0.7rem;
    position: relative;
    top: 15rem;
}